
/* Sidebar Styles */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #64A7B3; /* Adjusted to match existing button color */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 80px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px 20px;
    transition: background 0.3s;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
    transition: all 0.3s ease;
}

.sidebar ul li:hover {
    background: #55c5d9; /* Slightly darker shade for hover effect */
}

.sidebar ul li a:hover {
    padding-left: 15px;
}

/* Sidebar Styles */





.admin-dashboard {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url(../../images/background.png);
}






.dashboard-container {
    
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.admin-card {
    width: 250px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-left: 50px;
    box-shadow: 10px 10px 30px rgba(93, 84, 84, 0.5);  
}
.admin-card:hover {
    transform: scale(1.15);
}
.admin-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
}
.admin-card p {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.admin-card button {
    background-color: #58b4e2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.admin-card button:hover {
    background-color: #58b4e2;
}

.up-row{
    margin-top: 50px;
    display: flex;
}