.dr-availability-container {
    background-image: url(../../images/background.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: 80vh;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 30px;
    padding: 50px;
    padding-top: 25px;
    min-height: 80vh;
}

.dr-availability-header {
    display: flex;
    gap: 20%;
    align-items: center;
    margin-bottom: 20px;
}

.availability-back-arrow img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.timeslots-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 70vh;
    position: relative;
}

.availability-left-section {
    position: absolute;
    left: 150px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #b3d7ff;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 60vh;
    max-width: 400px;
    width: 100%;
}

.selected-slots-display {
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
}

.timeslot-tag {
    display: inline-block;
    background-color: #e0ebf7;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    font-size: 0.9em;
}

.timeslot-remove-btn {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    margin-left: 8px;
    font-size: 0.9em;
}

.timeslot-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.timeslot-button {
    background-color: #cccccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    min-width: 120px;
    transition: background-color 0.3s;
}

.timeslot-button:hover {
    background-color: #eaeaea;
}

.timeslot-button.selected {
    outline: 2px solid rgba(33, 114, 146, 0.8);
    outline-offset: -2px;
}

.timeslot-options {
    position: absolute;
    right: 50px;
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #b3d7ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh;
    gap: 10px;
}

.timeslot-button.disabled {
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
}

.timeslot-button:not(.disabled):hover {
    background-color: #d9edf7;
}

#no-slots-msg {
    font-size: 1em;
    color: #999;
    margin-top: 10px;
}