.dr-dashboard {
    font-family: 'Nunito', sans-serif;
    margin-top: 70px;
    min-height: 630px;
}

.dr-dashboard >* {
    animation: fadeIn 0.3s ease-in-out;
}

.dashboard-layout {
    padding: 40px 100px 0px 100px;
    display: flex;
    gap: 100px;
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width:600px ;
    box-shadow: 2px 2px 10px #64A7B3;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
}

.dashboard-info{
    background-color: #CDE1E5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
}

.appointments-today {
    border-radius: 10px;
    font-size: 18px;
    justify-content: center;
    min-width: 80%;
    display: flex;
    gap: 20px;
}

.appointments-icon{
    width: 60px;
    height: 60px;
}

.todays-slots {
    background-color: white;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 16px;
    min-width: 80%;
    animation: fadeIn 0.6s ease-out forwards;
}

.todays-slots h3 {
    font-size: 18px;
}

.todays-slots p{
    font-size: 16px;
}

.appointments-list {
    background-color: #CDE1E5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointments-list h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.appointments-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.appointments-list li {
    padding: 10px;
    background-color: white;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 600px;
    background-color: #CDE1E5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

.right-section h3 {
    margin-bottom: 40px;
}

canvas {
    height: 100%;
}

@keyframes fadeIn {
    from { 
        opacity: 0; 
    }
    to { 
        opacity: 1; 
    }
}
