body {
    font-family: 'Poppins', sans-serif;
}

.content {
    margin-top: 100px;
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.btn {
    display: inline-block;
    padding: 20px 40px;
    background-color: rgba(199, 221, 230, 0.8);
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: rgba(199, 221, 230, 1);
    transform: translateY(-5px);
}

