body {
    font-family: 'Poppins';
    background-color: #f9f9f9;
    color: #333;
}

/* .container {
    width: 80%;
    max-width: 700px;
    margin-top: 100px;
    background-color: #ffffff;
    border: 2px solid #b3d7ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.container{
    margin-top: 100px;
    display: flex;
    gap: 10px;
    padding-left: 50px;
}

.back-arrow img {
    width: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.history-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 0;
    border: 2px solid #d2e7ec;
    border-radius: 10px;
    padding: 20px;
}

.history-container h2 {
    font-size: 1.8em;
    color: #333;
    border-bottom: 2px solid #b3d7ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.history-container p {
    font-weight: bold;
    color: #444;
    margin-top: 15px;
}

.history-container ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 20px;
    line-height: 1.6;
}

.history-container ul ul {
    margin-top: 5px;
    padding-left: 15px;
}

.history-container li {
    margin-bottom: 0.5em;
}

.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.action-buttons .button {
    background-color: #e0ebf7;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

.action-buttons .button:hover {
    background-color: #d0e0f0;
}
