.dr-profile-content {
    background-image: url(../../images/background.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: top left;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    padding-left: 50px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: -70px;
    margin-right: 300px;
    position: relative;
    gap: 10px;
}

.profile-back-arrow {
    margin-right: 200px;
}


.doctor-header h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 15px;
}

.doctor-profile-container {
    width: 50%;
    padding: 40px;
    border: 2px solid #d2e7ec;
    border-radius: 10px;
    background-color: #CDE1E5;
    margin-top: 40px;
}

.doctor-description {
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #333;
}

.doctor-details{
    position: relative;
}

.doctor-details p {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 8px;
}

.dr-contact-info {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.dr-contact-info li {
    font-size: 0.9em;
    color: #333;
}

.dr-profile-btn{
    position: absolute;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    background-color: #CDE1E5;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    right: -15px;
    bottom: -20px;
    transition: ease 0.4s;
}

.dr-profile-btn:hover{
    background-color: #7cabb5;
}

input[readonly], textarea[readonly] {
    font-family: 'Poppins';
    width: 100%;
    background-color: #CDE1E5;
    border: none;
    pointer-events: none;
}

input:not([readonly]), textarea:not([readonly]) {
    padding: 5px;
    width: 100%;
    font-family: 'Poppins';
    border-radius: 10px;
    background-color: #cad4e2;
    border: 0.5px solid #4e4d4d5c;
}
