.dr-prescription-container{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 100px;
    display: flex;
    gap: 10px;
    padding-left: 50px;
}

.prescription-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    border: 2px solid #d2e7ec;
    border-radius: 10px;
    padding: 0 50px 20px 50px;
}

.back-arrow img {
    width: 24px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
    font-size: 1em;
    background-color: #f5f5f5;
}

textarea:focus {
    outline: none;
    border-color: #b3d7ff;
    background-color: #fff;
}

.prescription-actions {
    text-align: center;
    margin-top: 20px;
}

.prescription-actions .prescription-button {
    background-color: rgba(138, 193, 215, 0.8);
    color: black;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.prescription-actions .prescription-button:hover {
    background-color: rgba(97, 169, 198, 0.8);
}
