.dr-profile-content {
    background-image: url(../../images/background.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: top left;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
    padding-left: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-header {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: -70px;
    margin-right: 300px;
    position: relative;
    gap: 10px;
}

.profile-back-arrow {
    margin-right: 200px;
}


.doctor-header h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 15px;
}

.profile-pic-label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.doctor-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;

}

.camera-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-overlay img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.doctor-profile-container {
    width: 50%;
    padding: 40px;
    border: 2px solid #d2e7ec;
    border-radius: 10px;
    background-color: #CDE1E5;
    margin-top: 40px;
}

.doctor-description p{
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #333;
}

.doctor-details{
    position: relative;
}

.doctor-details p {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 8px;
}

.doctor-details input{
    margin-bottom: 10px;
}

.dr-contact-info {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.dr-contact-info li {
    font-size: 0.9em;
    color: #333;
}

.dr-profile-btn{
    position: absolute;
    border-radius: 10px;
    background-color: #CDE1E5;
    border: 1px solid black;
    cursor: pointer;
    position: absolute;
    padding: 10px;
    right: -15px;
    bottom: -20px;
    transition: ease 0.4s;
}

.dr-profile-btn:hover{
    background-color: #7cabb5;
}

.doctor-profile-container input[readonly], .doctor-description textarea[readonly] {
    font-family: 'Poppins';
    width: 100%;
    background-color: #CDE1E5;
    border: none;
    pointer-events: none;
}

.doctor-profile-container input:not([readonly]), .doctor-description textarea:not([readonly]) {
    padding: 5px;
    width: 100%;
    font-family: 'Poppins';
    border-radius: 10px;
    background-color: #cad4e2;
    border: 0.5px solid #4e4d4d5c;
}

.dr-error-message{
    color: red;
}

.dr-success-message{
    color: rgb(24, 103, 134);
}