.dr-view-appointments-container {
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.dr-view-appointments-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: -100px;
}

.arrow-back{
    margin-right: 50px;
}

.appointment-filters {
    display: flex;
    gap: 10px;
    align-items: center;
}

.appointment-search-bar{
    border-radius: 20px;
    padding: 5px;
    margin-left: 550px;
}

.view-appointments-list {
    margin-top: 40px;
    border: 2px solid #d2e7ec;
    border-radius: 10px;
    padding: 20px;
}

.view-appointment-card {
    display: flex;
    justify-content: space-between;
    background: #d2e7ec;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.appointment-check-icon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.view-appointment-pagination {
    text-align: center;
    margin-top: 20px;
}

.view-appointment-pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.view-appointment-pagination a.active {
    background-color: #0099ff;
    color: #fff;
}
