
.lab-pres-app-appcontent {
    padding: 20px;
    margin-top: 50px;
}

.lab-pres-app-prescription-details {
    display: flex;
    justify-content: space-between;
    background-color: #c5ecf1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.lab-pres-app-prescription-details .lab-pres-app-details-left,
.lab-pres-app-prescription-details .lab-pres-app-details-right {
    width: 48%;
}

.lab-pres-app-prescription-details p,
.lab-pres-app-prescription-details li {
    margin: 5px 0;
}

.lab-pres-app-prescription-details ul {
    padding-left: 20px;
}

.lab-pres-app-file-upload {
    background-color: #c5ecf1;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px dashed #aaa;
}

.lab-pres-app-file-upload p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.lab-pres-app-upload-btn {
    background-color: #257a8b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lab-pres-app-upload-btn:hover {
    background-color: #205e70;
}
