.lab-pend-pres-container {
    width: 100%;
}


.lab-pend-pres-content{
    padding: 30px;
    margin-top: 50px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.lab-pend-pres-prescriptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.lab-pend-pres-card {
    display: flex;
    justify-content: space-between; /* Align content left and right */
    align-items: center; /* Center items vertically */
    background-color: #CDE1E5;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}
.lab-pend-pres-card:hover {
    transform: scale(1.02);
    background-color: #62a7c7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}
.lab-pend-pres-card a {
    text-decoration: none;
    color: inherit;
}

.lab-pend-pres-card-left {
    flex: 1; /* Allow the left side to grow */
}

.lab-pend-pres-card-right {
    flex: 1; /* Allow the right side to grow */
    text-align: left; /* Align text to the right */
}

.lab-pend-pres-card p {
    margin: 5px 0;
}

.lab-pend-pres-card p strong {
    font-weight: 600;
    display: inline-block;
    margin-right: 8px;
}
