.pt-pending-div1 {
    margin-top: 100px;
}

.pt-pending-div1-h1 {
    margin-top: 100px;
    font-size: 25px;
    font-weight: 300;
    color: #333;
    cursor: pointer; /* Indicate clickability */
}

.pt-pending-maindiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pt-thick-underline {
    text-decoration: underline;
    text-decoration-thickness: 4px; /* Set thick underline */
    text-underline-offset: 20px; /* Offset underline slightly from text */
    color: #000; /* Optional: Change color when active */
    
}

.pt-pending-div2{
    width: 1276px;
    height: 173px;
    background-color: rgba(239, 235, 235, 1);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

    
}

.pt-pending-div2-main{
    align-items: center;
    justify-content: center;
    display: flex;
}
.pt-pending-div3-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pt-pending-div2-upload{
    width: 100%; /* Take full width of the parent */
    text-align: center; /* Center-align the button inside the div */
    margin-top: 10px; /* Add some spacing from other elements */
}

.pt-pending-button{
    width: 160px;
    height: 42.35px;
    background-color: rgba(0, 87, 164, 1);
    color: white;
    border-radius: 10px;
    border: none;
}

.pt-pending-span{
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.pt-pending-button2{
    width: 570px;
    height: 42.35px;
    background-color: rgba(0, 87, 164, 1);
    color: white;
    border-radius: 10px;
    border: none;
}

/*modal css*/
.updatemodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.updatemodal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.updatemodal-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.updateyes-btn,
.updateno-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.updateyes-btn {
    background-color: #28a745;
    color: white;
}

.updateno-btn {
    background-color: #dc3545;
    color: white;
}

.updateyes-btn:hover {
    background-color: #218838;
}

.updateno-btn:hover {
    background-color: #c82333;
}