/* General styles for the dashboard layout */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Header styling */
/*.dashboard-header {
    width: 100%;
    background-color: #64A7B3;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: fixed;
    top: 0;
    z-index: 1000;
}*/
.logo-section {
    display: flex;
    align-items: center;
}

.dashboard-logo {
    height: 40px;
    margin-right: 10px;
}

.logo-text {
    font-size: 1.2em;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-icon {
    height: 30px;
}



/* Main dashboard content */
.dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;

}

.dashboard-section {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.section-card {
    display: block;
    background-color: #d4e5e5;
    padding: 20px;
    border-radius: 10px;
    text-align:center;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
}

.section-card:hover {
    transform: scale(1.05);
    background-color: #62a7c7;
}
