.ph-pres-app-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    padding-top: 80px; /* Add padding to prevent overlap with the buttons */
    position: relative;
}
.ph-pres-app-appcontent {
    flex: 1;
    padding: 20px;
    border: 1px solid #e0e0e0;
    position: relative;
}
.ph-pres-app-button-container {
    position: absolute;
    top: 20px; /* Ensure enough space from the top */
    left: 20px;
    z-index: 10;
}

.ph-pres-app-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background: linear-gradient(135deg, #003C70, #004d9f);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.ph-pres-app-button:hover {
    background: linear-gradient(135deg, #2b6eb0, #0066cc);
    transform: translateY(-2px);
}
.ph-pres-app-action-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.ph-pres-app-prescription-details{
    padding: 30px;
}
.ph-pres-app-prescription-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #005f6b;

}

.ph-pres-app-prescription-table th, .ph-pres-app-prescription-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.ph-pres-app-prescription-table th {
    background-color: #f2f2f2;
    border-bottom: 2px solid #005f6b;

}

.ph-pres-app-inventory-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #005f6b;

}

.ph-pres-app-inventory-row {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.ph-pres-app-inventory-row input, .ph-pres-app-inventory-row select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.ph-pres-app-buttons {
    display: flex;
    gap: 20px;
}