.ViewProfile-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url(../../images/background.png);
    height: 100vh;
}

.ViewProfile-container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.ViewProfile-doctor-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8f4f8;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ViewProfile-doctor-info {
    flex: 1;
    font-size: 1.1em;
    color: #333;
    margin-right: 20px;
}


.ViewProfile-view-btn{
    border: none;
    padding: 8px 15px;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4caf50;
    color: white;
    margin-right: 10px;
}


.ViewProfile-delete-btn{
    border: none;
    padding: 8px 15px;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f44336;
    color: white;
}


.ViewProfile-view-btn:hover {
    background-color: #45a049;
}



.ViewProfile-delete-btn:hover {
    background-color: #e53935;
}
.ViewProfile-button-group{
    display: flex;
    margin-top: 20px;
}