@font-face {
    font-family: 'Poppins';
    src: url("../../assets/fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Handlee';
    src: url("../../assets/fonts/Handlee.ttf") format('truetype');
}

/* :root{
    font-family: 'DM Sans', sans-serif;
} */