

.frame{
    width: 300px;
    background-color: rgba(24, 205, 205, 1);
    margin: 20px;
    padding: 20px; /* Adds padding inside the card for spacing */
    border-radius: 10px; /* Optional: Rounds corners for aesthetics */
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensures all content is centered */
    box-sizing: border-box; /* Includes padding in the size calculation */
    
}

.card{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.doctorpic{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
}

.doctorname{
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center; /* Aligns text centrally */
    margin-top: -50px;
    padding: 0 10px; /* Adds some spacing around text */
    word-wrap: break-word; /* Ensures long words break into a new line */
    overflow-wrap: break-word; /* Supports all modern browsers for breaking */
    white-space: normal; /* Allows text to wrap to the next line */
}

.gender{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.specialization{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.channelbutton{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #021b99;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    padding: 10px 10px;
}

.viewbutton{
    width: 200px;
    height: 50px;
    border-radius: 100px;
    margin-top: 10px;
    font-size: 20px;
    background-color: white;
    color: rgba(24, 205, 205, 1);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    padding: 10px 10px;
}

.pt-button-div{
    align-items: center;
}