.drNavbar{
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(135deg, #003C70, #004d9f);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
}

.drNavitems{
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin: 0 0 0 150px;
    padding: 10px 10px;
    transition: background-color 0.3s, transform 0.3s, ease 0.3s;;
}

.drNavitems:hover{
    color: #8bc9d4;
}

.drNavitems.active {
    color: #8bc9d4;
    box-shadow: 0 0.5px 0 0 #8bc9d4;
}

.drlogo{
    width: 70px;
    height: 70px;
    margin-left: 10px;
}

.drloginlogo{
    width: 40px;
    height: 40px;
    margin-left: 350px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #8bc9d4;
}

.drlogin{
    text-decoration: none;
    color: #8bc9d4;
    font-size: 20px;
    cursor: pointer;
}

.dr-profile-dropdown {
    position: relative;
    display: inline-block;
}

.dr-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(39, 28, 110, 0.2);
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
}

.dr-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border: 1px solid rgba(39, 28, 110, 0.2);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dr-dropdown-content a:hover {
    background-color: #d2caca;
}

.show {
    display: block;
}

.dr-profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: -5px;
}