.drNavbar{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(72, 143, 171, 0.8);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.drNavitems{
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 0 0 0 150px;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: #07676b 1px 1px 1px;
    transition: background-color 0.3s, transform 0.3s, ease 0.3s;;
}

.drNavitems:hover{
    background-color: white;
    border-radius: 30px;
    
    
}

.drlogo{
    width: 45px;
    height: 35px;
    margin-left: 10px;
}

.drloginlogo{
    width: 80px;
    height: 80px;
    margin-left: 380px;
}

.drlogin{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}