.labNavbar{
    font-family: 'Poppins', sans-serif;
    background-color: #64A7B3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.labNavitems{
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin: 0 100px;
    padding: 10px 10px;
}


.lablogo{
    width: 85px;
    height: 95px;
    margin-left: 10px;
}

.labloginlogo{
    width: 80px;
    height: 80px;
    margin-left: 380px;
}

.lablogin{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show the dropdown content on hover */
}

.dropdown-toggle:hover {
    cursor: pointer; /* Change cursor on hover */
}

.logname{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

.username{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}
