.timeslot {
    background-color: rgba(239, 235, 235, 1);
    width: 922px;
    height: 132px;
    margin-left: 100px;
    margin-top: 10px;
    align-content: center;
    border-radius: 20px;
}

.inrectangle {
    background-color: rgba(239, 235, 235, 1);
    width: 882px;
    height: 82px;
    margin-left: 20px;
    border-radius: 20px;
}

.date{
    margin-left: 20px;
    margin-bottom: 5px;
}

.slots{
    margin-left: 80px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;

}

.time{
    margin-left: 500px;
    font-size: 14px;
    font-weight: bold;
}

.schedulebutton{
    width: 595.09px;
    height: 33.74px;
    background-color: rgba(0, 87, 164, 1);
    color: white;
    border-radius: 10px;
    border: none;
    margin-left: 150px;
    margin-top: 10px;
}

.slotcard{
    margin-top: 20px;
}