Individual toast message
.toast-message {
    background-color: #f44336; /* Red background */
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: slideIn 0.5s forwards, fadeOut 4s forwards 3s;
}
.toast-message-success {
    background-color: #22c55e;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    animation: slideIn 0.5s forwards, fadeOut 4s forwards 3s;
}
/* Slide in animation */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Fade out animation */
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/* Close button */
.toast-close-btn {
    margin-left: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
